@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better UX */
body::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}