@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic styles for HTML and body */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.background');
  color: theme('colors.text');
}