@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles or overrides can go here */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}