@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better UX (optional) */
@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary.400');
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-track {
    background-color: theme('colors.gray.200');
  }
}